<!DOCTYPE html>
<html>
  <head>
    <title>Try Greycork on Mobile</title>
    		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="Index,Follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    
    <!-- custom css -->
    <link rel='stylesheet' href='/stylesheets/m-style.css' />
    <!-- bootstrap css-->
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
    <!-- custom font -->
    <link rel='stylesheet' href='/stylesheets/fonts.css' />
    
 	  <!-- load jquery minified js -->
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<!-- load bootstrap minified js -->
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- load load-image js minified -->
		<script src="/javascripts/load-image.all.min.js"></script>
		<!-- load itemslide js minified -->
		<script src="/javascripts/itemslide.min.js"></script>
		
		<script>var mobile = true;</script>
		
		<!-- load custom scripts -->
		<script src="/javascripts/index.js"></script>
		<!-- load custom gestures script -->
		<script src="/javascripts/sticker.js"></script>
		<!-- load custom canvas script -->
		<script src="/javascripts/canvas.js"></script>
		
		<!-- load platform/scream/brim to manage minimal ui -->
		<!-- brim has to be @version 1.0.10 -->
		<script src="/bower_components/platform.js/platform.js"></script>
		<script src="/bower_components/scream/dist/scream.js"></script>
		<script src="/bower_components/brim/dist/brim.js"></script>

  </head>
  
  <body>
		<div id="brim-main">
    
			<div id="main">
				
				<!-- Intro pages -->
				<div id="slider" class="blue-gradient-bg" style="display:none;">
						
					<div id="slider-logo">
						<br>
			    	<img src="/images/greycork-logo.png">
			    </div>
				    
					<div id="slider-navigation" class="">
						<div class="slider-nav active" data-index="0"></div>
						<div class="slider-nav" data-index="1"></div>
						<div class="slider-nav" data-index="2"></div>
						<div class="slider-nav" data-index="3"></div>
						<div class="slider-nav" data-index="4"></div>
					</div>
						
					<div id="slider-footer">
					  <div id="skip-tutorial">skip the tutorial</div>	
					</div>
					
					<div id='slider-swipe-right' style="font-size: 1.0em;text-transform:uppercase">
		    		(Swipe right)
		    	</div>
					
					<ul> <!-- do not change the <ul> element - slider uses this as identifier -->
					
						<!-- slide 1 -->
					  <li class="slide">
					    <div class="slide-content">
					    	<img src="/images/slide1.png">
					    	<div class="" style="font-size: 1.5em;">
					    		Play with stickers and imagine your home with Greycork.
					    	</div>
					    </div>
					  </li>
					  
						<!-- slide 2 -->
					  <li class="slide">
					  	<div class="slide-content">
					    	<img src="/images/slide2.png">
					    	<div class="" style="font-size: 1.5em;">
					    		Take a picture of your home, or upload one.
					    	</div>
					    </div>
					  </li>
					   
						<!-- slide 3 -->
					  <li class="slide">
					  	<div class="slide-content">
					    	<img src="/images/slide3.png">
					    	<div class="" style="font-size: 1.5em;">
					    		Select a sticker to add to your scene.
					    	</div>
					    </div>
					  </li>
					  					   
						<!-- slide 4 -->
					  <li class="slide">
					  	<div class="slide-content">
					    	<img src="/images/slide4.png">
					    	<div class="" style="font-size: 1.5em;">
					    		Rotate, scale, and translate, your stickers.
					    	</div>
					    </div>
					  </li>
					  
						<!-- slide 5 -->
					  <li class="slide">
					    <div class="slide-content">
					  		<div id="play-now">Play Now</div>
					  	</div>
					  </li>
					  				  
					</ul>
				</div>
				
				<!-- Navigation -->
				<div id="nav-button" class="generic-button">
					<img src="/images/menu-icon.png" class="generic-button-image">
				</div>
				<div id="nav-container" class="">
					<div id="nav-container-close">
						<div id="nav-button-close" class="generic-button">
							<img src="/images/close-icon.png" class="generic-button-image">
						</div>
					</div>
					<div id="nav-container-top">
						<img src="/images/slide1.png">
						<br><br>
						<div>Greycork<br>Home Try-out</div>
					</div>
					<div id="nav-container-bottom">
						<div id="nav-play" class="nav-item">Start Over</div>
						<div id="nav-instructions" class="nav-item">Instructions</div>
						<div id="nav-store" class="nav-item">Store</div>
						<div id="nav-blog" class="nav-item">Blog</div>
						<div id="nav-privacy" class="nav-item">Privacy Policy</div>
					</div>
				</div>
				
				<!-- instructions/background-image TODO -->
				<div id="instructions-container" class="active">
					<div id="instructions">
						<div style="font-size: 1.8em;">Take or upload a photo of a space to start!</div>
						<br>
						<div id="instructions-disclaimer">By choosing to take a picture, you agree to our terms as stated on our <a href="/">privacy page</a>.</div>
					</div>	
					<div id="instructions-arrow">&darr;</div>	
				</div>
		
				<!-- canvas -->
				<div id="editor-middle">
					<canvas id="canvas"></canvas>	
					<img id="saved-img"/>
				</div>
				
        <!-- bottom -->
        <div id="editor-bottom"> <!-- height 20vh -->

					<!-- add sticker button -->
          <div id="sticker-button" class="generic-button">
          	<img src="/images/sticker-menu-icon.png" class="generic-button-image">
          </div>
          
					<!-- add trash canvas button -->
          <div id="trash-button" class="generic-button">
          	<img src="/images/trash-icon.png" class="generic-button-image">
          </div>

	  		  <!-- Take picture button -->
		  		<label id="camera-button" class="generic-button active">
		  		  <img src="/images/camera-icon.png" class="generic-button-image"/>
		        <input type="file" accept="image/*" capture="camera" id="camera" >
		  		</label>

					<!-- save image button -->
          <div id="save-button" class="generic-button">
          	<img src="/images/save-icon.png" class="generic-button-image">
          </div>

					<!-- Show on download image page-->
					<div id="promocode-container">
						<!--<div id="promocode">123-789</div>-->
						<div id="promocode-content">
							Looks like you're ready to check out
							<br>
							<a href="" style="color:white;text-decoration:underline">the Greycork store &rarr;</a>
						</div>
					</div>
	  		</div>
	  		
	  		<!-- sticker -->
	  		<div id="sticker-menu">
	  			<div id="sticker-menu-bar">
	  				<div id="sticker-menu-bar-back">
	  					<img src="/images/back-icon.png">
	  				</div>
	  				<div id="sticker-menu-bar-label">
	  					<div class="">
	  						Tap to select a sticker
	  					</div>
	  					<div class="" style="font-size: 0.75em;">
	  						Flick the sticker away to remove it!
	  					</div>
	  				</div>
	  			</div>
	  			<div id="sticker-menu-stickers">
	  				<!-- 
	  				
	  				This part is generated in canvas.js
	  				The structure is as follows:
	  				
	  			  <div class="row sticker-menu-row">
	        		<div class="col-xs-6 sticker-menu-col">
	        			<img class="sticker-icon" src="/images/stickers/square.png"/>
	        		</div>
	        		<div class="col-xs-6 sticker-menu-col">
	        			<img class="sticker-icon" src="/images/stickers/test.png"/>
	        		</div>
	        	</div>
	        	....
	        	
	        	-->
	        </div>
	        <br>
	        <br>
	  		</div>
	  		
	  		<!-- download image -->
	  		<div id="download-overlay">
	  			<div id="download-overlay-menu-bar">
	  				<div id="download-overlay-menu-bar-back">
	  					<img src="/images/back-icon.png">
	  				</div>
	  				<div id="download-overlay-menu-bar-label">
	  					Go back to edit image
	  				</div>
	  			</div>
	  			<div id="download-overlay-content">
	  				<div class="" style="font-size: 1.6em;">
  						Tap and hold the image to download to your device!
	  				</div>
	  				<br>
	  				<img src="/images/tap-icon.png" style="width:20vw;">
	  				<!--
	  				<br>
	  				<br>
	  				<div class="row">
	  					<div class="col-xs-2">
	  						<input type="checkbox" id="share-download" value="">
	  					</div>
		  				<div class="col-xs-10" style="font-size:0.9em;text-align:left;text-transform:uppercase;">
		  					Proud of your work? Share this with the Greycork team for a chance to be featured on the Greycork Catalog.
		  				</div>
	  				</div>
		  			-->
	  			</div>
	  			<div id="download-overlay-ok-button">Save Image!</div>
	  		</div>
	  		
	      <img id="frame" width="0" height="0" style="display:none;">
	  	</div>
	  	
	  </div>
	  
 		<div id="brim-mask">
 			<div id="brim-mask-content">
	 			<div>Welcome to</div>
	 			<div class="h3" style="margin-top:10px;">
	 				Greycork's<br>Home Try-out app!
	 			</div>
	 			<br>
	 			<div>Scroll down to begin.</div>
 			</div>
		</div>
		
		<!-- initialize brim -->
		<script>
		  // user is using Safari
			var scream, brim;
		  if (platform.os.family == 'iOS' && parseInt(platform.os.version, 10) >= 8) {
			  if (!!navigator.userAgent.match(/Version\/[\d\.]+.*Safari/)) {
			    window.addEventListener('DOMContentLoaded', function () {
				    scream = gajus.Scream({
				      width: {
				        portrait: window.innerWidth, //
				        landscape: window.innerHeight //
				      }
				    });
				    
				    brim = gajus.Brim({
				      viewport: scream
				    });
				    
				    brim.on('viewchange', function(e) {
				    	document.body.className = e.viewName;
				    });
			    });
			  }
		  }
		</script>
		
		<!-- deal with Landscape mode -->
		<div id="landscape-overlay">
			<div id="landscape-content">
				<img src="/images/camera.png">
				<br>
				Please rotate your phone<br>to portrait mode.
			</div>
		</div>
		<style>
			#landscape-overlay {
				display: none;	
				color: white;
			}			
			#landscape-content {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
				text-align: center;
			}
			@media screen and (orientation: landscape) {
				#landscape-overlay {
					position: fixed;
					width: 100vw;
					height: 100vh;
					background-color: #ccc;
					top: 0px;
					left: 0px;
					z-index: 900;
					display: block;
				}
			}
		</style>
		
  </body>

</html>
