@font-face {
  font-family: Boogaloo;
  src: url('../fonts/Boogaloo/Boogaloo-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Boogaloo/Boogaloo-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Boogaloo/Boogaloo-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Boogaloo/Boogaloo-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}